@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.dropdown::-webkit-scrollbar{
    display: block;
    width: .3rem;
}

.dropdown::-webkit-scrollbar-thumb{
    background-color: rgb(37 99 235 );
    border-radius: 2px;
    border: .5px solid #d5d5d5;
}

.dropdown::-webkit-scrollbar-track{
    background-color: rgb(225, 225, 225);
}

